<h1 class="nameofpage">My Bookings</h1>
<h3><%= "You haven't book any cars yet!" if @user.bookings.empty? %></h3>

<div class="card-grid">
 <% @user.bookings.each do |booking| %>
  <div class="card-trip">
        <%= cl_image_tag booking.car.photo.key%>
    <div class="card-trip-infos">
      <div>
        <%= link_to booking.car.model, car_path(booking.car) %>
        <p>from: <%= booking.start_date %></p>
        <p>to: <%= booking.end_date %></p>
      </div>
      <img src="https://avatars.githubusercontent.com/u/90570222?v=4" class="card-trip-user avatar-bordered" />
    </div>
  </div>
<% end %>
</div>
<br>
