<%= cl_image_tag car.photo.key, height: 100, width: 200, crop: :fill %>
<hr>
<h6><%= car.model %></h6>
<div class="div">
<p><%= car.address %></p>

</div>
<h5>£<%= car.price %> p/day</h5>
<p><%= link_to 'View details', car_path(car), class: "btn btn-primary", id: "button-map-details"%></p>
