<h1>Cars List</h1>

<% @cars.each do |car| %>

  <%= car.model %> |
  <%= car.color %> |
  <%= car.year %>
  <%= link_to 'View details', car_path(car) %>
  <hr>

<% end %>

<%= link_to 'Add a Car', new_car_path %>
