
<div class="container">
    <br>
  <div class="d-flex justify-content-between">
    <div>
      <%= form_tag cars_path, method: :get, class: 'form-inline' do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control flex-grow-1",
          placeholder: "Find a vintage car"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
      <div>
        <%= link_to 'View cars on a map', map_cars_path, class: "btn btn-primary", id: "map-button" %>
        <img src="https://cdn1.iconfinder.com/data/icons/locations-6/48/1-512.png" alt="map" id="map-pin-button">
      </div>
  </div>
  <br>

  <div class="cars-container">
    <% @cars.each do |car| %>
      <div class="card-trip">
        <% if car.photo.attached? %>
          <%= cl_image_tag car.photo.key%>
        <% else %>
        <img src="https://www.instant-quote.co/images/cars/large/o_1c80gnqmfrl51tc811c06ce11sh1h.jpg" />
        <% end %>

        <div class="details-container">
          <div class="cars-info">
           <h2><%= car.model %></h2>
            <h2> Year: <%= car.year %></h2>
          </div>
            <div>
              <img src="https://thumbs.dreamstime.com/b/red-maps-pin-location-map-icon-location-pin-pin-icon-vector-red-maps-pin-location-map-icon-location-pin-pin-icon-vector-vector-144267433.jpg" alt="" id="map-pin">
              <%= car.address %>
            </div>
            <div class="cars-info">
              <h4>£ <%= car.price %> /day</h4>
              <%= link_to 'View details', car_path(car), class: "btn btn-primary" %>
            </div>
          <hr>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<br>
