
<div class="container">
  <div>
    <br>
      <%= form_tag cars_path, method: :get, class: 'form-inline' do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control flex-grow-1",
          placeholder: "Find a vintage car"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
  </div>
  <br>

  <div class="cars-container">
    <% @cars.each do |car| %>
      <div class="card-trip">
        <% if car.photo.attached? %>
          <%= cl_image_tag car.photo.key%>
        <% else %>
        <img src="https://www.instant-quote.co/images/cars/large/o_1c80gnqmfrl51tc811c06ce11sh1h.jpg" />
        <% end %>

        <div class="details-container">
          <div class="cars-info">
           <h2><%= car.model %></h2>
            <h2> Year: <%= car.year %></h2>
          </div>
            <div>
              <img src="https://w7.pngwing.com/pngs/652/32/png-transparent-google-maps-pin-bing-maps-mapquest-map-map-location-red.png" alt="" id="map-pin">
              <%= car.address %>
            </div>
            <div class="cars-info">
              <h4>£ <%= car.price %> /day</h4>
              <%= link_to 'View details', car_path(car), class: "btn btn-primary" %>
            </div>
          <hr>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<br>
