<h1>Cars List</h1>



<%= link_to 'Add a Car', new_car_path %>
<div class="container">
    <div class="cards">
      <% @cars.each do |car| %>
        <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
        <%= car.model %> |
        <%= car.year %>
        <h4>£ <%= car.price %> p/day</h4> |
        <%= link_to 'View details', car_path(car) %>
        <hr>
      <% end %>
    </div>
</div>
