<h1 class="titlefont">Add a New Car</h1>
<hr>
<div class="form-container">
  <%= simple_form_for(@car) do |f| %>
    <%= f.input :model, placeholder: "Ferrari..." %>
    <%= f.input :color, placeholder: "Red..." %>
    <%= f.input :year, placeholder: "YYYY"%>
    <%= f.input :price, placeholder: "£££"  %>
    <%= f.input :location, placeholder: "London..." %>
    <%= f.input :photo, input_html: { class: "hidden" } %>
    <%= f.submit class: "btn-new-flat btn-new-flat:hover", value: "Add Car" %>
  <% end %>
</div>
