<div class="container-left">
  <div class="card-trip-booking">
         <%= cl_image_tag @car.photo.key%>
        <div class="details-container">
          <div class="cars-info">
              <h5>Year: <%= @car.year %></h5>
              <h5>Model: <%= @car.model %></h5>
              <h5>Color: <%= @car.color %></h5>
              <h5>Year: <%= @car.year %></h5>
              <h5>Price: £<%= @car.price %> /day </h5>
              <h5>Address: <%= @car.address %></h5>
              <h5>Owner Contact: <%= @car.user.email %></h5>
            </div>
        </div>
    </div>
 <div class="container-right">
    <%= simple_form_for([@car, @booking]) do |f| %>
      <%= f.input :start_date, as: :date, html5: true%>
      <%= f.input :end_date, as: :date, html5: true%>
      <%= f.submit class: "btn-flat btn-flat:hover" %>
    <% end %>
  </div>
</div>
